<a href="https://colab.research.google.com/github/AmirJlr/Deep-Learning/blob/master/NN1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Simple **Perceptron**

In [1]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.linear_model import Perceptron
import tensorflow as tf

In [2]:
iris=load_iris(as_frame=True)
X=iris.data[["petal length (cm)","petal width (cm)"]].values
y=(iris.target==0)# Iris setosa

In [3]:
perceptron_clf = Perceptron(random_state=1)

In [4]:
perceptron_clf.fit(X, y)

Perceptron(random_state=1)

In [5]:
X_new=[[3,0.5],[1.5,1]]

y_pred=perceptron_clf.predict(X_new)

In [6]:
y_pred

array([False, False])

### Some of the limitations of perceptrons can be eliminated by stacking multiple perceptrons**(MLP)**

## Regression MLPs

In [7]:
from sklearn.datasets import fetch_california_housing
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

from sklearn.neural_network import MLPRegressor
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

In [8]:
housing = fetch_california_housing()

In [9]:
# print(housing.DESCR)

In [10]:
housing

{'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
           37.88      , -122.23      ],
        [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
           37.86      , -122.22      ],
        [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
           37.85      , -122.24      ],
        ...,
        [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
           39.43      , -121.22      ],
        [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
           39.43      , -121.32      ],
        [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
           39.37      , -121.24      ]]),
 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894]),
 'frame': None,
 'target_names': ['MedHouseVal'],
 'feature_names': ['MedInc',
  'HouseAge',
  'AveRooms',
  'AveBedrms',
  'Population',
  'AveOccup',
  'Latitude',
  'Longitude'],
 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 20640\n\n    :Number of Attributes: 8 numeric, predictive attributes and the target\n\n    :Attribute Information:\n        - MedInc        median income in block group\n        - HouseAge      median house age in block group\n        - AveRooms      average number of rooms per household\n        - AveBedrms     average number of bedrooms per household\n        - Population    block group population\n        - AveOccup      average number of household members\n        - Latitude      block group latitude\n        - Longitude     block group longitude\n\n    :Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nAn household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surpinsingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. topic:: References\n\n    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n      Statistics and Probability Letters, 33 (1997) 291-297\n'}

In [11]:
data = pd.DataFrame(housing.data, columns = housing.feature_names)

Training some pandas operations :

In [12]:
data

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

In [13]:
Target = pd.DataFrame(housing.target, columns = housing.target_names)

In [14]:
Target

       MedHouseVal
0            4.526
1            3.585
2            3.521
3            3.413
4            3.422
...            ...
20635        0.781
20636        0.771
20637        0.923
20638        0.847
20639        0.894

[20640 rows x 1 columns]

In [15]:
df = pd.concat([data, Target], axis=1)

In [16]:
df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [17]:
X_train_full ,X_test, y_train_full, y_test = train_test_split(housing.data, housing.target, random_state=42)

In [18]:
X_train, X_valid, y_train, y_valid = train_test_split(X_train_full, y_train_full, random_state=42)

In [19]:
mlp_reg = MLPRegressor(hidden_layer_sizes=[50,50,50], random_state=42)

In [20]:
pipeline = make_pipeline(StandardScaler(), mlp_reg)

In [21]:
pipeline.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('mlpregressor',
                 MLPRegressor(hidden_layer_sizes=[50, 50, 50],
                              random_state=42))])

In [22]:
y_pred = pipeline.predict(X_valid)

In [23]:
rmse = mean_squared_error(y_valid, y_pred, squared=False)

In [24]:
rmse

0.505332665796862

If you want to guarantee that the output will always be positive, then you should use the ReLU activation function in the output layer.

MLPRegressor class does not support activation functions in the output layer.

# **Classification MLPs**

Building an Image Classifier Using the Sequential API (Fashion MNIST Data)

In [25]:
fashion_mnist = tf.keras.datasets.fashion_mnist.load_data()

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/train-labels-idx1-ubyte.gz
29515/29515 [==============================] - 0s 0us/step
Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/train-images-idx3-ubyte.gz
26421880/26421880 [==============================] - 0s 0us/step
Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/t10k-labels-idx1-ubyte.gz
5148/5148 [==============================] - 0s 0us/step
Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/t10k-images-idx3-ubyte.gz
4422102/4422102 [==============================] - 0s 0us/step

FashionMNIST already shuffled and split into a training set (60,000 images)and a test set (10,000 images), but we’ll hold out the last 5,000 images from the training set for validation

In [26]:
(X_train_full, y_train_full), (X_test,y_test) = fashion_mnist

In [27]:
X_train, y_train = X_train_full[:-5000], y_train_full[:-5000]
X_valid, y_valid = X_train_full[-5000:], y_train_full[-5000:]

In [28]:
print('X_train:', X_train.shape)
print('y_train:', y_train.shape)
print('X_valid:', X_valid.shape)
print('y_valid:', y_valid.shape)

X_train: (55000, 28, 28)
y_train: (55000,)
X_valid: (5000, 28, 28)
y_valid: (5000,)

In [29]:
X_train, X_valid, X_test = X_train/255, X_valid/255, X_test/255

In [32]:
class_names = ["T-shirt/top", "Trouser", "Pullover", "Dress", "Coat", "Sandal", "Shirt", "Sneaker", "Bag", "Ankle boot"]

In [34]:
class_names[y_train[0]]

'Ankle boot'

Creating the model using the sequential API :

In [37]:
tf.random.set_seed(42)
# model = tf.keras.Sequential()

# model.add(tf.keras.layers.Input(shape=[28, 28]))

# model.add(tf.keras.layers.Flatten())

# model.add(tf.keras.layers.Dense(300, activation = 'relu'))
# model.add(tf.keras.layers.Dense(100, activation = tf.keras.activations.relu))

# model.add(tf.keras.layers.Dense(10, activation = 'softmax'))


model = tf.keras.Sequential([
    tf.keras.layers.Flatten(input_shape=[28, 28]),

    tf.keras.layers.Dense(300, activation = 'relu'),
    tf.keras.layers.Dense(100, activation = tf.keras.activations.relu),
    
    tf.keras.layers.Dense(10, activation = 'softmax')
]
)

In [38]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 flatten_1 (Flatten)         (None, 784)               0

 dense_3 (Dense)             (None, 300)               235500

 dense_4 (Dense)             (None, 100)               30100

 dense_5 (Dense)             (None, 10)                1010

=================================================================
Total params: 266,610
Trainable params: 266,610
Non-trainable params: 0
_________________________________________________________________

In [39]:
model.layers

[<keras.layers.reshaping.flatten.Flatten at 0x7fe163b38670>,
 <keras.layers.core.dense.Dense at 0x7fe163b38280>,
 <keras.layers.core.dense.Dense at 0x7fe163b38fa0>,
 <keras.layers.core.dense.Dense at 0x7fe163b38af0>]

In [43]:
weights, biases = model.layers[1].get_weights()

In [44]:
biases

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32)

In [45]:
len(biases)

300

In [46]:
weights.shape

(784, 300)

In [47]:
model.compile(loss = tf.keras.losses.sparse_categorical_crossentropy, optimizer='sgd', metrics=['accuracy'])

In [48]:
model.fit(X_train, y_train, epochs=30, validation_data=(X_valid, y_valid))

Epoch 1/30
1719/1719 [==============================] - 8s 4ms/step - loss: 0.7221 - accuracy: 0.7647 - val_loss: 0.4961 - val_accuracy: 0.8328
Epoch 2/30
1719/1719 [==============================] - 7s 4ms/step - loss: 0.4826 - accuracy: 0.8332 - val_loss: 0.4563 - val_accuracy: 0.8386
Epoch 3/30
1719/1719 [==============================] - 7s 4ms/step - loss: 0.4370 - accuracy: 0.8476 - val_loss: 0.4238 - val_accuracy: 0.8542
Epoch 4/30
1719/1719 [==============================] - 7s 4ms/step - loss: 0.4124 - accuracy: 0.8556 - val_loss: 0.3969 - val_accuracy: 0.8606
Epoch 5/30
1719/1719 [==============================] - 7s 4ms/step - loss: 0.3912 - accuracy: 0.8629 - val_loss: 0.3887 - val_accuracy: 0.8610
Epoch 6/30
1719/1719 [==============================] - 7s 4ms/step - loss: 0.3753 - accuracy: 0.8689 - val_loss: 0.3914 - val_accuracy: 0.8610
Epoch 7/30
1719/1719 [==============================] - 7s 4ms/step - loss: 0.3630 - accuracy: 0.8712 - val_loss: 0.3715 - val_accuracy: 0.8692
Epoch 8/30
1719/1719 [==============================] - 7s 4ms/step - loss: 0.3516 - accuracy: 0.8751 - val_loss: 0.3778 - val_accuracy: 0.8614
Epoch 9/30
1719/1719 [==============================] - 7s 4ms/step - loss: 0.3407 - accuracy: 0.8793 - val_loss: 0.3512 - val_accuracy: 0.8730
Epoch 10/30
1719/1719 [==============================] - 7s 4ms/step - loss: 0.3309 - accuracy: 0.8817 - val_loss: 0.3535 - val_accuracy: 0.8742
Epoch 11/30
1719/1719 [==============================] - 8s 5ms/step - loss: 0.3225 - accuracy: 0.8855 - val_loss: 0.3604 - val_accuracy: 0.8700
Epoch 12/30
1719/1719 [==============================] - 11s 6ms/step - loss: 0.3147 - accuracy: 0.8871 - val_loss: 0.3483 - val_accuracy: 0.8728
Epoch 13/30
1719/1719 [==============================] - 7s 4ms/step - loss: 0.3072 - accuracy: 0.8909 - val_loss: 0.3283 - val_accuracy: 0.8794
Epoch 14/30
1719/1719 [==============================] - 7s 4ms/step - loss: 0.3003 - accuracy: 0.8922 - val_loss: 0.3408 - val_accuracy: 0.8788
Epoch 15/30
1719/1719 [==============================] - 7s 4ms/step - loss: 0.2939 - accuracy: 0.8947 - val_loss: 0.3397 - val_accuracy: 0.8816
Epoch 16/30
1719/1719 [==============================] - 7s 4ms/step - loss: 0.2869 - accuracy: 0.8968 - val_loss: 0.3270 - val_accuracy: 0.8804
Epoch 17/30
1719/1719 [==============================] - 7s 4ms/step - loss: 0.2825 - accuracy: 0.8976 - val_loss: 0.3335 - val_accuracy: 0.8786
Epoch 18/30
1719/1719 [==============================] - 7s 4ms/step - loss: 0.2759 - accuracy: 0.9004 - val_loss: 0.3249 - val_accuracy: 0.8828
Epoch 19/30
1719/1719 [==============================] - 7s 4ms/step - loss: 0.2713 - accuracy: 0.9029 - val_loss: 0.3480 - val_accuracy: 0.8712
Epoch 20/30
1719/1719 [==============================] - 7s 4ms/step - loss: 0.2664 - accuracy: 0.9043 - val_loss: 0.3201 - val_accuracy: 0.8834
Epoch 21/30
1719/1719 [==============================] - 7s 4ms/step - loss: 0.2615 - accuracy: 0.9049 - val_loss: 0.3180 - val_accuracy: 0.8842
Epoch 22/30
1719/1719 [==============================] - 7s 4ms/step - loss: 0.2562 - accuracy: 0.9070 - val_loss: 0.3137 - val_accuracy: 0.8860
Epoch 23/30
1719/1719 [==============================] - 7s 4ms/step - loss: 0.2519 - accuracy: 0.9101 - val_loss: 0.3482 - val_accuracy: 0.8710
Epoch 24/30
1719/1719 [==============================] - 7s 4ms/step - loss: 0.2470 - accuracy: 0.9112 - val_loss: 0.3199 - val_accuracy: 0.8862
Epoch 25/30
1719/1719 [==============================] - 7s 4ms/step - loss: 0.2426 - accuracy: 0.9128 - val_loss: 0.3160 - val_accuracy: 0.8864
Epoch 26/30
1719/1719 [==============================] - 7s 4ms/step - loss: 0.2391 - accuracy: 0.9145 - val_loss: 0.3109 - val_accuracy: 0.8864
Epoch 27/30
1719/1719 [==============================] - 7s 4ms/step - loss: 0.2341 - accuracy: 0.9147 - val_loss: 0.3201 - val_accuracy: 0.8858
Epoch 28/30
1719/1719 [==============================] - 7s 4ms/step - loss: 0.2313 - accuracy: 0.9166 - val_loss: 0.3087 - val_accuracy: 0.8890
Epoch 29/30
1719/1719 [==============================] - 7s 4ms/step - loss: 0.2267 - accuracy: 0.9184 - val_loss: 0.3229 - val_accuracy: 0.8862
Epoch 30/30
1719/1719 [==============================] - 7s 4ms/step - loss: 0.2234 - accuracy: 0.9197 - val_loss: 0.3063 - val_accuracy: 0.8882